/*Common*/
.animation_results,
.animation_results .x-panel-body{
    background-color: #d4d4d4;
}

.tryit_results,
.tryit_results .x-panel-body{
    background-color: #d4d4d4;
    overflow: auto;
}


.animation-success {
    background: linear-gradient(to bottom, #ffac54 0%,#ff8d2c 100%);
}

.animation-success div {
    background-repeat: no-repeat;
    height: 60px;
    width: 390px;
    background-image: url("http://www.checkio.org/static/imgv3/task_solved.png");
}

.center-exp {
    margin-left:auto;
    margin-right:auto;
    display:table;
}


/* Animation */
.animation-content{
    background-color: #d4d4d4;
    color: #696969;
    font-family: verdana;
    font-size: 15px;
}

.animation-content .call, .animation-content .answer, .animation-content .output{
    font-weight: bold;
    padding: 10px;
    border: 2px dotted #a9a9a9;
    margin: 10px;
    color: black;
    text-align: center;
    letter-spacing: 0.7px;

    word-break: break-word;
}

.animation-content h1 {
    color: black;
    font-size: 30px;
    padding: 10px;
}

.animation-content .error{
    color: #de0202;
    border-color: #de0202;
}

.animation-content .exp-table {
    color: #294270;
    border-collapse: collapse;
    width: 380px;
}

.animation-content .exp-table tr {
    border-bottom: solid #898A8A 2px;
}

.animation-content .exp-table tr:last-child {
    border-bottom: none;
}

.animation-content .exp-table td {
    text-align: center;
    border-right: solid #898A8A 2px;
    padding: 3px;
}

.animation-content .exp-table td:last-child {
    border-right: none;
}

.tryit_results .x-panel-body{
    background-color: #d4d4d4;
}

.tryit_results .tool{
    margin: 20px;
}

.tryit_results .tool .withdraw{
    padding-top: 29px;
    width: 143px;
    height: 63px;
    background: url(/media/files/tryit/atm/withdraw_panel.png) no-repeat;
    color: #e4e4e9;
    font-weight: bold;
    float: left;
}



.tryit_results .tool .withdraw label.current_balance{
    float: left;
    margin-left: 22px;
    width: 46px;
}

.tryit_results .tool .withdraw input.withdraw_sum{
    float: left;
    margin-left: 23px;
    width: 46px;
    background: transparent;
    border: none;
    color: #e4e4e9;
}

.tryit_results .tool .bn_withdraw{
    float: left;
    width: 100px;
    height: 33px;
    background: url(/media/files/tryit/atm/withdraw_button.png) no-repeat;
    border: none;
    cursor: pointer;
    margin-top: 18px;
    margin-left: 5px;
}

.tryit_results .tool .bn_withdraw:hover{
    background-position: 0 -34px;
}

.tryit_results .tool .bn_withdraw:active{
    background-position: 0 -68px;
}

.tryit_results .table{
    min-height: 70px;
}

.tryit_results .bn_reset{
    float: left;
    height: 17px;
    width: 61px;
    background: url(/media/files/tryit/atm/reset_button.png) no-repeat;
    margin-left: 6px;
}